header {
  @include shadow;
  @include flex(space-around, none, center);
  background-color: $black;
  ul {
    width: $w-4xl;
    @include flex(center, center, center);
    gap: 30px;
    padding: 30px;
    li {
      position: relative;
      a {
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 500;
        @include zindex;
      }
      span {
        color: $indigo;
        font-size: 30px;
        opacity: 0.8;
      }
    }
  }
  .icons {
    visibility: hidden;
    @include absolute;
    @include flex(center, none, none);
    button {
      font-size: 30px;
    }
  }
}
